/HackerNews.xcodeproj/xcuserdata/
/HackerNews.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/HackerNews.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/HackerNews.xcodeproj/project.xcworkspace/xcuserdata/rickwierenga.xcuserdatad/UserInterfaceState.xcuserstate
