SpeechSynthesis/SpeechSynthesis.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SpeechSynthesis/SpeechSynthesis.xcodeproj/project.pbxproj
SpeechSynthesis/SpeechSynthesis.xcodeproj/project.xcworkspace/xcuserdata/rickwierenga.xcuserdatad/UserInterfaceState.xcuserstate
SpeechSynthesis/SpeechSynthesis.xcodeproj/xcuserdata/rickwierenga.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SpeechSynthesis/SpeechSynthesis.xcodeproj/xcuserdata/rickwierenga.xcuserdatad/xcschemes/xcschememanagement.plist
