/BarcodeScanner.xcodeproj/xcuserdata/rickwierenga.xcuserdatad/xcdebugger
/BarcodeScanner.xcodeproj/xcuserdata/rickwierenga.xcuserdatad/xcschemes/xcschememanagement.plist
/BarcodeScanner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/BarcodeScanner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/BarcodeScanner.xcodeproj/project.xcworkspace/xcuserdata/rickwierenga.xcuserdatad/UserInterfaceState.xcuserstate
